<div class="container">
    <h1>Link Kısaltıcı</h1>

    <form>
        <input type="text" name="URL" id="URL" placeholder="Linkin" />
        <input type="submit" value="Yeni bir link oluştur">
    </form>

    <div>
        <a href="" id="shortenLink"></a>
        <p id="error"></p>
    </div>

    <br>
    <div>
        <p>cuurle.xyz</p>
    </div>
</div>



<script>
    document.querySelector("form").addEventListener("submit", async (e) => {
        e.preventDefault();
        URL = document.getElementById("URL").value
        shortenLinkP = document.getElementById("shortenLink")
        errorP = document.getElementById("error")
        data = {
            URL
        }
        console.log(data);
        const response = await fetch("/api/create", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        const res_json = await response.json()
        if (!res_json.msg) {
            shortenLinkP.innerText = res_json.shortened_url
            shortenLinkP.href = res_json.shortened_url
            errorP.innerText = ""
        }
        else {
            errorP.innerText = res_json.msg
            shortenLinkP.innerText = ""
        }
    })
</script>